canvas{
    background-color: #0394aa;
}
section {
    background-color: #0394aa;
}
ul {
    list-style-type:none;
    display:inline;
}
    ul li {
        background-color:#007acc;
        width: 200px;
    }
a {
    text-decoration:none;
    color:white;
}