canvas{
    background-color: #0394aa;
}
body{
    background-color:#fff;
}
h1 {
    color: white;
}
ol {
    color:white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#ignore {
    list-style: none;
}
a {
    text-decoration:none;
    color:white;
}
#text {
     color:white;  
}
#container {
    background-color: #0394aa;
    margin-left:200px;
    margin-right: 200px;
    padding-bottom: 200px;
    padding-top: 50px;
}